.hero-wrapper {
  margin: 6rem 0;
  width: 100%;
}

.hero-wrapper__title {
  font-size: 3rem;
  color: var(--secondary-color);
  letter-spacing: 1px;
}

.hero-wrapper__description {
  font-size: 1.125rem;
  color: var(--text-color);
}

.hero-wrapper__buttons .btn {
  padding: 12px 25px;
}

.hero-wrapper__image-img {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

@media (max-width: 992px) {
  .hero-wrapper__content {
    flex-direction: column;
    text-align: center;
  }

  .hero-wrapper__text {
    margin-bottom: 2rem;
  }
}

@media (max-width: 767.98px) {
  .hero-wrapper__title {
    font-size: 2rem;
  }

  .hero-wrapper__description {
    font-size: 1rem;
  }

  .hero-wrapper__buttons .btn {
    padding: 10px 20px;
  }
}

@media (max-width: 575.98px) {
  .hero-wrapper__title {
    font-size: 1.5rem;
  }

  .hero-wrapper__description {
    font-size: 0.875rem;
  }

  .hero-wrapper__buttons .btn {
    padding: 8px 15px;
  }
}
