.wrapper-btn button {
  width: 170px;
  height: 35px;
  line-height: 30px;
  font-size: 16px;
  text-decoration: none;
  color: #111b47;
  border: 2px solid #111b47;
  letter-spacing: 1px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
  border-radius: 5px;
}

.wrapper-btn button span {
  position: relative;
  z-index: 2;
}

.wrapper-btn button:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #111b47;
  transition: all 0.35s;
}

.wrapper-btn button:hover {
  color: #fff;
}

.wrapper-btn button:hover:after {
  width: 100%;
  background: #0d1a35;
}
